@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons
<PageTitle>DutchMetar - @TitleContent</PageTitle>
@if (Status == PageStatus.Loading)
{
    <div class="center-flex">
        <div class="loading">
            <FluentProgressRing Value="@null"
                                Width="56px"
                                Stroke="@ProgressStroke.Normal"/>
            <h4>Loading page...</h4>
        </div>
    </div>
} else if (Status == PageStatus.Error)
{
    <div class="center-flex">
        <div class="error">
            <FluentIcon Color="Color.Warning" Value="@(new Icons.Regular.Size48.ErrorCircle())" />
            <h4>Something went wrong!</h4>
            <div>The page cannot be displayed at this time. Please try again later.</div>
        </div>
    </div>
} else if (Status == PageStatus.Displaying)
{
    <FluentStack Width="100%" Orientation="Orientation.Vertical">
        <div class="header">
            <h1 class="title">@TitleContent</h1>
            @if (SubtitleContent != null)
            {
                <div>@SubtitleContent</div>
            }
        </div>
        <br />
        @PageContent
    </FluentStack>
}