@page "/Airport/{AirportIcao}"
@using DutchMetar.Web.Client.Components.Card
@using DutchMetar.Web.Client.Components.PageLayout
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled

<PageLayout Status="@PageStatus">
    <TitleContent>@AirportDetails?.Icao</TitleContent>
    <SubtitleContent>
        <div class="badge-container">
            @if (AirportDetails?.LatestWeather?.IsAuto == true)
            {
                <FluentBadge Appearance="Appearance.Neutral">
                    AUTO
                </FluentBadge>
            }
            @if (AirportDetails?.LatestWeather?.IsCavok == true)
            {
                <FluentBadge Fill="red" BackgroundColor="green" Color="white">
                    CAVOK
                </FluentBadge>
            }
            @if (AirportDetails?.LatestWeather?.IsCorrected == true)
            {
                <FluentBadge Appearance="Appearance.Neutral">
                    COR
                </FluentBadge>
            }
            @if (AirportDetails?.LastUpdated != null)
            {
                <FluentBadge Appearance="Appearance.Accent">
                    Last update: @AirportDetails?.LastUpdated.ToString("g")
                </FluentBadge>
            }
        </div>
    </SubtitleContent>
    <PageContent>
        <h3>Latest Weather</h3>
        @if (AirportDetails?.LatestWeather != null)
        {
            <Card Stretch="true">
                <CardTitle>Raw METAR</CardTitle>
                <CardBody>@AirportDetails.LatestWeather.RawMetar</CardBody>
            </Card>
            <div class="latest-weather-items">
                <div>
                    <Card Stretch="true">
                        <CardBigValue
                            Value="@(AirportDetails.LatestWeather.TemperatureCelsius.HasValue ? AirportDetails.LatestWeather.TemperatureCelsius.Value + " °C" : "N/A")"
                            Label="Temperature"
                            CardIcon="@(new Size32.Temperature())">
                        </CardBigValue>
                    </Card>
                </div>
                <div>
                    <Card Stretch="true">
                        <CardBigValue
                            Value="@(AirportDetails.LatestWeather.DewpointCelsius.HasValue ? AirportDetails.LatestWeather.DewpointCelsius.Value + " °C" : "N/A")"
                            Label="Dewpoint"
                            CardIcon="@(new Size32.Temperature())">
                        </CardBigValue>
                    </Card>
                </div>
                <div>
                    <Card Stretch="true">
                        @if (AirportDetails.LatestWeather.WindSpeedKnots.HasValue && AirportDetails.LatestWeather.WindDirection.HasValue)
                        {
                            <CardBigValue
                                Value="@FormatWindDirection()"
                                Label="Wind"
                                CardIcon="@(new Size24.ArrowTurnBidirectionalDownRight())">
                            </CardBigValue>
                        }
                    </Card>
                </div>
                <div>
                    <Card Stretch="true">
                        <CardBigValue
                            Value="@(AirportDetails.LatestWeather.VisibilityMeters.HasValue ? AirportDetails.LatestWeather.VisibilityMeters.Value + " m" : "N/A")"
                            Label="Visibility"
                            CardIcon="@(new Size32.Eye())">
                        </CardBigValue>
                    </Card>
                </div>
                <div>
                    <Card Stretch="true">
                        <CardBigValue
                            Value="@(AirportDetails.LatestWeather.VisibilityMeters.HasValue ? AirportDetails.LatestWeather.AltimeterValue + " hPA" : "N/A")"
                            Label="Pressure"
                            CardIcon="@(new Size32.Gauge())">
                        </CardBigValue>
                    </Card>
                </div>
            </div>
        }
        else
        {
            <p>No information about current weather available.</p>
        }

        <h3>Historical Graphs</h3>
        <p>No historical data available.</p>
    </PageContent>
</PageLayout>